fastapi==0.112.*
feedparser==6.0.*
uvicorn==0.20.*
python-dotenv==0.21.*
pytest==7.2.*
pydub==0.25.*
pytube==15.0.*
tenacity==8.2.*
numpy==1.24.*
docx2txt==0.8
PyPDF2==3.0.*
python-pptx==0.6.*
python-multipart==0.0.*
arrow==1.2.*
pinecone-client==2.1.*
weaviate-client==4.7.*
pymilvus==2.2.*
qdrant-client==1.11.*
redis==4.5.4
python-redis-lock==4.0.*
google-api-python-client==2.85.*
bs4==0.0.1
isodate==0.6.0
youtube-transcript-api==0.5.0
yt-dlp==2024.8.6
streamlit==1.24.*
langchain==0.3.*
langchain-openai==0.2.*